name: CI/CD (Docker Compose)

on:
  push:
    branches: [ main, master, feature/* ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Create .env file
        run: |
          echo "ADMIN_EMAIL=${{ secrets.ADMIN_EMAIL }}" >> .env
          echo "ADMIN_PASSWORD=${{ secrets.ADMIN_PASSWORD }}" >> .env
          echo "BASE_URL=http://web:5173" >> .env
          echo "API_URL=http://api:3000" >> .env
          echo "CI=true" >> .env

      - name: Run Tests via Docker Compose
        run: docker compose up --build --abort-on-container-exit --exit-code-from tests

      - uses: actions/upload-artifact@v4
        if: always() # Сохранять даже если тесты упали
        with:
          name: playwright-report
          path: tests/playwright-report/
          retention-days: 30